<div class="col-md-6">    
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">            
            <input type="hidden" formControlName="Task_ID" placeholder="Task ID" name="Task_ID" class="form-control" id="Task_ID">
          </div>
      <div class="form-group">
        <label for="Task1">Task Name::</label>
        <input type="text" formControlName="Task1" placeholder="Task Name" name="Task1" class="form-control" id="Task1">
      </div>        
      <div class="form-group">
              <label for="Priority">Priority:</label>
              <div>
                    <span>0</span>
                    <span style="float: right!important;">30</span>
                </div>              
              <input type="range" min="1" max="30" step="1" formControlName="Priority" placeholder="Priority" name="Priority" class="form-control" id="Priority">
      </div>
      <div class="form-group">
              <label for="Parent_ID">Parent Task:</label>
              <input type="text" formControlName="Parent_ID" placeholder="Parent Task" name="Parent_ID" class="form-control" id="Parent_ID">
      </div>
      <div class="form-group">
              <label for="Start_Date">Start Date:</label>
              <input type="text" formControlName="Start_Date" placeholder="Start Date" name="Start_Date" class="form-control" id="Start_Date">
      </div>
      <div class="form-group">
              <label for="End_Date">End Date:</label>
              <input type="text" formControlName="End_Date" placeholder="End Date" name="End_Date" class="form-control" id="End_Date">
      </div>
      <div class="form-group">            
          <input type="hidden" formControlName="isTaskComplete" placeholder="isTaskComplete" name="isTaskComplete" class="form-control" id="isTaskComplete">
        </div>
        <div class="btn-group" role="group"  aria-label="...">
            <button class="btn btn-default">Update</button>
            <button class="btn btn-default" (click)='onCancel()' style="width: 80px;">Cancel</button>            
        </div>      
    </form>
</div>

