<div class="col-md-6">    
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">            
            <input type="hidden" formControlName="taskID" placeholder="Task ID" name="taskID" class="form-control" id="taskID">
          </div>
      <div class="form-group">
        <label for="task">Task Name:</label>
        <input type="text" formControlName="task" placeholder="Task Name" name="task" class="form-control" id="task">
      </div>        
      <div class="form-group">
              <label for="priority">Priority:</label>
              <input type="text" formControlName="priority" placeholder="Priority" name="priority" class="form-control" id="priority">
      </div>
      <div class="form-group">
              <label for="parentTask">Parent Task:</label>
              <input type="text" formControlName="parentTask" placeholder="Parent Task" name="parentTask" class="form-control" id="parentTask">
      </div>
      <div class="form-group">
              <label for="startDate">Start Date:</label>
              <input type="text" formControlName="startDate" placeholder="Start Date" name="startDate" class="form-control" id="startDate">
      </div>
      <div class="form-group">
              <label for="endDate">End Date:</label>
              <input type="text" formControlName="endDate" placeholder="End Date" name="endDate" class="form-control" id="endDate">
      </div>
      <div class="form-group">            
          <input type="hidden" formControlName="isTaskComplete" placeholder="isTaskComplete" name="isTaskComplete" class="form-control" id="isTaskComplete">
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-default">Update</button>
            <button class="btn btn-default" (click)='onCancel()' style="width: 80px;">Cancel</button>            
        </div>      
    </form>
</div>


