<div class="col-md-8">
  <form [formGroup]="addProjectForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <ul>
        <li style="list-style-type: none;"><label for="Project">Project:</label></li>
        <li style="list-style-type: none;"><input type="text" formControlName="Project1" placeholder="Project"
            name="Project1" class="form-control" id="Project1"></li>
      </ul>
      <ul>
        <li style="list-style-type:none;"><input type="checkbox" (click)="EnableDates()"
            style="width: 20px;float: left;" formControlName="enableDates" class="form-control" id="enableDates">Set
          Start and End Date</li>
        <li style="list-style-type:none;"><br></li>
        <li style="list-style-type:none;"><label for="Start_Date">Start Date:</label></li>
        <li style="list-style-type:none;"><input type="date" disabled formControlName="Start_Date"
            placeholder="Start Date" name="Start_Date" class="form-control" id="Start_Date"></li>
        <li style="list-style-type:none;"><br></li>
        <li style="list-style-type:none;"><label for="End_Date">End Date:</label></li>
        <li style="list-style-type:none;"><input type="date" disabled formControlName="End_Date" placeholder="End Date"
            name="End_Date" class="form-control" id="End_Date"></li>
        <li style="list-style-type:none;"><br></li>
        <li style="list-style-type:none;"><label for="Priority">Priority:</label></li>
        <li style="list-style-type: none;">
          <div>
            <span>0</span>
            <span style="float: right!important;">30</span>
          </div>
        </li>
        <li style="list-style-type: none;"><input type="range" min="1" max="30" value="0" step="1"
            formControlName="Priority" placeholder="Priority" name="Priority" class="form-control" id="Priority"></li>
        <li style="list-style-type: none;">Manager:</li>
        <li style="list-style-type: none;"><input type="text" disabled formControlName="Manager" placeholder=""
            class="form-control" id="Manager"><br></li>
        <li style="list-style-type:none;">
          <button type="button" class="btn btn-default" (click)="openModalDialog()">Search</button>
        </li>
        <li style="list-style-type:none;"><br></li>
        <li style="list-style-type: none;">
          <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-default" id="AddorUpdate">Add</button>
          </div>
      </ul>
    </div>

  </form>
  <div>
    <ul>
      <li style="list-style-type: none;"><button class="btn btn-default" (click)='Reset();'>Reset</button></li>
    </ul>
  </div>
  <br>
  <div class="table-responsive">
    <table class="table table-bordered" *ngIf='projects'>
      <thead>
        <tr>
          <th colspan="5">
            <input type="text" placeholder="Search" [(ngModel)]='projectNameFilter' style="width: 100%">
          </th>
        </tr>
        <tr>
          <th>Sort By:</th>
          <th><button class="btn btn-default" (click)="sortProjectData('startDate')">Start Date</button></th>
          <th><button class="btn btn-default" (click)="sortProjectData('endDate')">End Date</button></th>
          <th><button class="btn btn-default" (click)="sortProjectData('priority')">Priority</button></th>
          <th><button class="btn btn-default" (click)="sortProjectData('status')">Completed</button></th>
        </tr>
      </thead>
      <tbody *ngFor='let project of filterProjects'>
        <tr>
          <td colspan="4">
            <ul class="list-group">
              <li class="list-group-item">
                <label>Project:</label>
                {{project.Project1}}
              </li>
              <li class="list-group-item">
                <label>Start Date:</label>
                {{(project.Start_Date == null || project.Start_Date == "")? "No Start Date is set for this project.": project.Start_Date}}
              </li>
              <li class="list-group-item">
                <label>End Date:</label>
                {{(project.End_Date == null || project.End_Date == "")? "No End Date is set for this project.": project.End_Date}}
              </li>
              <li class="list-group-item">
                <label>No. of Tasks:</label>
              </li>
              <li class="list-group-item">
                <label>Priority:</label>
                {{project.Priority}}
              </li>
              <li class="list-group-item">
                <label>Completed:</label>
                {{(project.Status == false)?"In-progress":"Completed"}}
              </li>
            </ul>
          </td>
          <td>
            <ul class="list-group">
              <li class="list-group-item">
                <button class="btn btn-default" (click)="updateProject(project)">Update</button>
              </li>
              <li class="list-group-item">
                <button class="btn btn-default" (click)="completeProject(project.Project_ID)">Suspend</button>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <!-- modal-dialog -->
  <div class="modal-dialog" role="document">
    <!-- modal-content -->
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span
            aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title">Login</h4> -->
      </div>

      <!-- modal-body -->
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-bordered" *ngIf='users'>
            <thead>
              <tr>
                <th><input type="text" placeholder="Search" [(ngModel)]='userNameFilter'></th>
                <th>Select User</th>
              </tr>
            </thead>
            <tbody *ngFor='let user of filterUsers'>
              <tr>
                <td>{{user.FirstName}}</td>
                <td><button class="btn btn-default" (click)="selectUser(user)">Select</button></td>
              </tr>
              <!-- <tr><td>{{user.LastName}}</td></tr>
                <tr><td>{{user.Employee_ID}}</td></tr> -->
              <tr><br></tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- modal-footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModalDialog()">Close</button>
      </div>
    </div>
  </div>
</div>