<div class="col-md-6">    
    <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">        
      <div class="form-group">
        <label for="FirstName">First Name:</label>
        <input type="text" formControlName="FirstName" placeholder="First Name" name="FirstName" class="form-control" id="FirstName">
      </div>     
      <div class="form-group">
        <label for="LastName">Last Name:</label>
        <input type="text" formControlName="LastName" placeholder="Last Name" name="LastName" class="form-control" id="LastName">
      </div>
      <div class="form-group">
        <label for="Employee_ID">Employee ID:</label>
        <input type="text" formControlName="Employee_ID" placeholder="Employee ID" name="Employee_ID" class="form-control" id="Employee_ID">
      </div>      
        <div class="btn-group" role="group"  aria-label="...">
            <button class="btn btn-default">Add</button>                        
        </div>      
    </form>
    <br>
    <div>
        <button class="btn btn-default" (click)='onReset()'>Reset</button>
    </div>
</div>