<div class="col-md-12">    
    <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">        
      <div class="form-group">
        <label for="FirstName">First Name:</label>
        <input type="text" formControlName="FirstName" placeholder="First Name" name="FirstName" class="form-control" id="FirstName">
      </div>     
      <div class="form-group">
        <label for="LastName">Last Name:</label>
        <input type="text" formControlName="LastName" placeholder="Last Name" name="LastName" class="form-control" id="LastName">
      </div>
      <div class="form-group">
        <label for="Employee_ID">Employee ID:</label>
        <input type="text" formControlName="Employee_ID" placeholder="Employee ID" name="Employee_ID" class="form-control" id="Employee_ID">
      </div>
      <div class="form-group">            
        <input type="hidden" formControlName="User_ID" name="User_ID" class="form-control" id="User_ID">
      </div>
      <div class="form-group">            
        <input type="hidden" formControlName="Project_ID" name="Project_ID" class="form-control" id="Project_ID">
      </div>
      <div class="form-group">            
        <input type="hidden" formControlName="Task_ID" name="Task_ID" class="form-control" id="Task_ID">
      </div>      
      <div class="btn-group" role="group"  aria-label="...">
          <button class="btn btn-default" id="AddorUpdate">Add</button>                        
      </div>      
    </form>
    <br>
    <div>
        <button class="btn btn-default" (click)='onReset()'>Reset</button>
    </div>
    <br>
    <div class="table-responsive">
      <table class="table table-bordered" *ngIf='users'>
          <thead>
              <tr>
                  <th><input type="text" placeholder="Search" [(ngModel)]='userNameFilter'></th>
                  <th>Sort</th>
                  <th><button class="btn btn-default">First Name</button></th>
                  <th><button class="btn btn-default">Last Name</button></th>
                  <th><button class="btn btn-default">ID</button></th>
              </tr>                                
          </thead>
          <tbody *ngFor='let user of filterUsers'>
            <tr><td>{{user.FirstName}}</td><td><button class="btn btn-default" (click)="editUser(user.User_ID)">Edit</button></td></tr>
            <tr><td>{{user.LastName}}</td><td><button class="btn btn-default" (click)="deleteUser(user.User_ID)">Delete</button></td></tr>
            <tr><td>{{user.Employee_ID}}</td></tr>
            <tr><br></tr>          
          </tbody>
      </table>
    </div>   
</div>


